ErrorDocument 404 /automotriz/Seguridad/error404/
ErrorDocument 403 /automotriz/Seguridad/error403/
ErrorDocument 500 /automotriz/Seguridad/error500/

Options +FollowSymlinks
DirectoryIndex index.php
RewriteEngine On
RewriteBase /automotriz 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*)/(.*)$ views/$1/index.php?action=$2&id=$3 [L,QSA]

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]